# Compiled source #
###################
*.o

# Compiled folders #
###################
out_bl/*.o
out_target/*.o
out_libemucc/*.o
out_libemudd/*.o

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Misc #
######################
*.map
